<a href="https://colab.research.google.com/github/SamadhiyaAditya/colab-notebooks/blob/main/04_02_26_GenAiLab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
# import numpy as np
# import pandas as pd

In [61]:
# df= pd.read_csv('Titanic-Dataset.csv')

In [62]:
# df.head()

In [63]:
# df.info()

In [64]:
# df.drop('Cabin',axis=1,inplace=True)
# df['Age']=df['Age'].fillna(df['Age'].median())
# df['Embarked']=df['Embarked'].fillna(df['Embarked'].mode()[0])

In [65]:
# cols_to_drop=['PassengerId','Name','Ticket']
# df=df.drop(columns=cols_to_drop)

In [66]:
# from sklearn.preprocessing import LabelEncoder
# le=LabelEncoder()
# df['Sex']=le.fit_transform(df['Sex'])
# df['Embarked']=le.fit_transform(df['Embarked'])

In [67]:
# x=df.drop('Survived',axis=1)
# y=df['Survived']

In [68]:
# from sklearn.model_selection import train_test_split
# x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [69]:
# x_train,x_val,y_train,y_val=train_test_split(x_train,y_train,test_size=0.2,random_state=42)

In [70]:
# from keras import models, layers
# model=models.Sequential([
#     layers.Dense(256, activation='relu', input_shape=(x_train.shape[1],)),
#     layers.Dense(32, activation='relu'),
#     layers.Dense(16, activation='relu'),
#     layers.Dense(1, activation='sigmoid')
# ])

In [71]:
# model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [72]:
# model.fit(x_train, y_train, epochs=20, validation_data=(x_val,y_val))

In [73]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

from keras import models, layers

In [74]:
df = pd.read_csv('Titanic-Dataset.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [75]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [76]:
df.drop('Cabin', axis=1, inplace=True)

In [77]:
df['Age'] = df['Age'].fillna(df['Age'].median())

In [78]:
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

In [79]:
df['Fare'] = df['Fare'].fillna(df['Fare'].median())

In [80]:
col_to_drop = ['PassengerId', 'Name', 'Ticket']
df.drop(col_to_drop, axis=1, inplace=True)

In [81]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [82]:
le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])
df['Embarked'] = le.fit_transform(df['Embarked'])

In [83]:
df

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0           0       3    1  22.0      1      0   7.2500         2
1           1       1    0  38.0      1      0  71.2833         0
2           1       3    0  26.0      0      0   7.9250         2
3           1       1    0  35.0      1      0  53.1000         2
4           0       3    1  35.0      0      0   8.0500         2
..        ...     ...  ...   ...    ...    ...      ...       ...
886         0       2    1  27.0      0      0  13.0000         2
887         1       1    0  19.0      0      0  30.0000         2
888         0       3    0  28.0      1      2  23.4500         2
889         1       1    1  26.0      0      0  30.0000         0
890         0       3    1  32.0      0      0   7.7500         1

[891 rows x 8 columns]

In [84]:
X = df.drop('Survived', axis=1)
y = df['Survived']

In [85]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [86]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

In [87]:
model = models.Sequential([
    layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    layers.Dense(32, activation='relu'),
    layers.Dense(1, activation='sigmoid')
])

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

model.summary()

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_4"

â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”“
â”ƒ Layer (type)                    â”ƒ Output Shape           â”ƒ       Param # â”ƒ
â”¡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”©
â”‚ dense_15 (Dense)                â”‚ (None, 64)             â”‚           512 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_16 (Dense)                â”‚ (None, 32)             â”‚         2,080 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_17 (Dense)                â”‚ (None, 1)              â”‚            33 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

 Total params: 2,625 (10.25 KB)

 Trainable params: 2,625 (10.25 KB)

 Non-trainable params: 0 (0.00 B)

In [88]:
model.fit(X_train, y_train, epochs=50, batch_size=64,validation_data=(X_val, y_val))

Epoch 1/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 181ms/step - accuracy: 0.4739 - loss: 2.2541 - val_accuracy: 0.5175 - val_loss: 0.8890
Epoch 2/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.6101 - loss: 0.7567 - val_accuracy: 0.6573 - val_loss: 0.7739
Epoch 3/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 10ms/step - accuracy: 0.6602 - loss: 0.7474 - val_accuracy: 0.6573 - val_loss: 0.6812
Epoch 4/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.6930 - loss: 0.5919 - val_accuracy: 0.6503 - val_loss: 0.6308
Epoch 5/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.6805 - loss: 0.6076 - val_accuracy: 0.6713 - val_loss: 0.6213
Epoch 6/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7151 - loss: 0.5757 - val_accuracy: 0.6643 - val_loss: 0.6229
Epoch 7/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 26ms/step - accuracy: 0.6941 - loss: 0.5662 - val_accuracy: 0.6573 - val_loss: 0.6156
Epoch 8/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 26ms/step - accuracy: 0.6847 - loss: 0.5793 - val_accuracy: 0.6503 - val_loss: 0.6099
Epoch 9/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7227 - loss: 0.5746 - val_accuracy: 0.6573 - val_loss: 0.6087
Epoch 10/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7150 - loss: 0.5617 - val_accuracy: 0.6434 - val_loss: 0.6059
Epoch 11/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7112 - loss: 0.5605 - val_accuracy: 0.6503 - val_loss: 0.6009
Epoch 12/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.6993 - loss: 0.5694 - val_accuracy: 0.6643 - val_loss: 0.5992
Epoch 13/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7207 - loss: 0.5455 - val_accuracy: 0.6713 - val_loss: 0.6251
Epoch 14/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7262 - loss: 0.5760 - val_accuracy: 0.6713 - val_loss: 0.6153
Epoch 15/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 10ms/step - accuracy: 0.6754 - loss: 0.5950 - val_accuracy: 0.6783 - val_loss: 0.5853
Epoch 16/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 10ms/step - accuracy: 0.7004 - loss: 0.5625 - val_accuracy: 0.7063 - val_loss: 0.6117
Epoch 17/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7506 - loss: 0.5439 - val_accuracy: 0.6783 - val_loss: 0.6041
Epoch 18/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7218 - loss: 0.5315 - val_accuracy: 0.6853 - val_loss: 0.5839
Epoch 19/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7323 - loss: 0.5377 - val_accuracy: 0.6993 - val_loss: 0.5862
Epoch 20/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7195 - loss: 0.5525 - val_accuracy: 0.6993 - val_loss: 0.5682
Epoch 21/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7036 - loss: 0.5687 - val_accuracy: 0.6993 - val_loss: 0.5889
Epoch 22/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7351 - loss: 0.5529 - val_accuracy: 0.6993 - val_loss: 0.5684
Epoch 23/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7528 - loss: 0.5235 - val_accuracy: 0.7063 - val_loss: 0.5661
Epoch 24/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7650 - loss: 0.5037 - val_accuracy: 0.7063 - val_loss: 0.5566
Epoch 25/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7481 - loss: 0.5121 - val_accuracy: 0.7133 - val_loss: 0.5561
Epoch 26/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 10ms/step - accuracy: 0.7778 - loss: 0.5034 - val_accuracy: 0.7063 - val_loss: 0.5521
Epoch 27/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7467 - loss: 0.5131 - val_accuracy: 0.7133 - val_loss: 0.5541
Epoch 28/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7654 - loss: 0.5214 - val_accuracy: 0.7063 - val_loss: 0.5659
Epoch 29/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7402 - loss: 0.5263 - val_accuracy: 0.7063 - val_loss: 0.5471
Epoch 30/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7594 - loss: 0.5034 - val_accuracy: 0.7133 - val_loss: 0.5433
Epoch 31/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7534 - loss: 0.5140 - val_accuracy: 0.7063 - val_loss: 0.5520
Epoch 32/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7677 - loss: 0.4815 - val_accuracy: 0.7133 - val_loss: 0.5420
Epoch 33/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7664 - loss: 0.5222 - val_accuracy: 0.7063 - val_loss: 0.5518
Epoch 34/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7882 - loss: 0.4895 - val_accuracy: 0.7203 - val_loss: 0.5572
Epoch 35/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7597 - loss: 0.5007 - val_accuracy: 0.7273 - val_loss: 0.5365
Epoch 36/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 10ms/step - accuracy: 0.7453 - loss: 0.5076 - val_accuracy: 0.6993 - val_loss: 0.6170
Epoch 37/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7606 - loss: 0.5715 - val_accuracy: 0.7413 - val_loss: 0.5253
Epoch 38/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7956 - loss: 0.4966 - val_accuracy: 0.7273 - val_loss: 0.5235
Epoch 39/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7798 - loss: 0.4816 - val_accuracy: 0.7203 - val_loss: 0.5278
Epoch 40/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 10ms/step - accuracy: 0.7658 - loss: 0.4935 - val_accuracy: 0.7552 - val_loss: 0.5197
Epoch 41/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7764 - loss: 0.4801 - val_accuracy: 0.7413 - val_loss: 0.5192
Epoch 42/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.8196 - loss: 0.4341 - val_accuracy: 0.7413 - val_loss: 0.5211
Epoch 43/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7881 - loss: 0.4870 - val_accuracy: 0.7273 - val_loss: 0.5350
Epoch 44/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7967 - loss: 0.4691 - val_accuracy: 0.7552 - val_loss: 0.5142
Epoch 45/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7671 - loss: 0.4905 - val_accuracy: 0.7203 - val_loss: 0.5854
Epoch 46/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.8020 - loss: 0.4752 - val_accuracy: 0.7203 - val_loss: 0.5251
Epoch 47/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7948 - loss: 0.4902 - val_accuracy: 0.7692 - val_loss: 0.5106
Epoch 48/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.8085 - loss: 0.4636 - val_accuracy: 0.7413 - val_loss: 0.5144
Epoch 49/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.7946 - loss: 0.4643 - val_accuracy: 0.7483 - val_loss: 0.5094
Epoch 50/50
9/9 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.8097 - loss: 0.4611 - val_accuracy: 0.7692 - val_loss: 0.5063

In [93]:
y_pred = model.predict(X_test)

6/6 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 5ms/step

In [94]:
model.evaluate(X_test, y_test)

6/6 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 5ms/step - accuracy: 0.7570 - loss: 0.4794

[0.47620660066604614, 0.7597765326499939]